/* styles/style.css */
#hoverinfo {
margin-top: 20px;
padding: 15px;
border: 1px solid #ccc;
background-color: #f9f9f9;
border-radius: 5px;
font-family: sans-serif;
font-size: 0.9em;
line-height: 1.5;
}

#hoverinfo strong {
font-weight: bold;
}

#hoverinfo {
margin-top: 20px;
padding: 15px;
border: 1px solid #ffffff;
background-color: #ffffff;
border-radius: 5px;
font-family: sans-serif;
font-size: 0.9em;
line-height: 1.5;
display: flex; 
align-items: center;
}

#fotoJugadorHover {
max-width: 80px;
height: auto;
margin-right: 10px;
border-radius: 5px;
}

#detallesJugadorHover {
margin: 0;
}

#detallesJugadorHover strong {
font-weight: bold;
}


.centerText {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 2rem;

    font-size: 20px;
}

.divInfoPlayer {

    color: #000000;
}

.centrarContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Clase para las imágenes del hover */
.hover-player-image {
    width: auto;       /* Ancho automático mantiene relación de aspecto */
    height: 250px;     /* Altura fija que quieras */
    object-fit: cover; /* Recorta la imagen para que encaje sin deformarse */
    
}
  
  /* Contenedor del hover para limpiar el float */
  .hover-info-container {
    max-width: 350px;
    overflow: hidden;  /* Limpia el float */
  }

  
.textCenter{
    text-align: center;
    align-content: center;  
    margin: auto;

}



.player-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #c81515;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
  
  .player-detail {
    text-align: center;
    font-size: 0.9em;
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.4;
  }
  
  .hover-info-text br {
    display: none;
  }

  .gridInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 1rem;
  }

  .gridDerecho {
    grid-column: 1 / 2;
  }
  .gridIzquierdo {
    grid-column: 2 / 3;
    
  }

.alignTodo{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
  
  